/* ===========================
   ESTILO GENERAL
=========================== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #050b16;
  overflow: hidden;
}

/* CANVAS DE RAYAS */
#rayas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* TEXTO */
#textoPrincipal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: 0 0 15px #00e4ff;
  z-index: 2;
  opacity: 0;
  animation: flotar 3s ease-in-out infinite;
}

/* Animación flotante suave */
@keyframes flotar {
  0% { transform: translate(-50%, -50%); }
  50% { transform: translate(-50%, -53%); }
  100% { transform: translate(-50%, -50%); }
}

/* BOTÓN */
#btnContinuar {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 60px;
  font-size: 20px;
  color: #00131f;
  background: #00e4ff;
  border: none;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  transition: .4s;
  z-index: 3;
}

#btnContinuar:hover {
  background: #09c7d6;
  transform: translateX(-50%) scale(1.08);
}



/* TEXTO SECUNDARIO */
#textoSecundario {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d8eaff;
  font-size: 22px;
  opacity: 0;
  z-index: 2;
  transition: opacity 1.2s ease;
  letter-spacing: 1px;
}
