body {
  margin: 0;
  padding: 0;
  background: #050b16;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

/* Fondo animado */
#rayas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Contenedor */
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

/* Título */
#titulo {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 0 15px #00e4ff;
  margin-bottom: 10px;
}

/* Texto animado */
#textoAnimado {
  opacity: 1;
}

/* Subtexto */
#textoSecundario {
  opacity: 0;
  font-size: 22px;
  color: #d8eaff;
  transition: opacity 1s ease;
  margin-top: 20px;
}

/* Botón */
#btnContinuar {
  margin-top: 40px;
  padding: 16px 60px;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  background: #00e4ff;
  font-weight: 600;
  color: #00131f;
  opacity: 0;
  cursor: pointer;
  transition: .3s ease;
}

#btnContinuar:hover {
  transform: scale(1.08);
  background: #0cc8d7;
}
